# Auto detect text files and perform LF normalization
* text=auto
* linguist-vendored
*.cpp linguist-vendored=false
*.h linguist-vendored=false
*.vert linguist-vendored=false
*.frag linguist-vendored=false
